<form class='form' action='/linkApiData' method='POST'>
  <section class="form-header">
    <img class="logo center" src='https://s3-us-west-1.amazonaws.com/assets.shoppable.com/logo.jpg'
      alt="shoppable-logo" />
    <p>BigCommerce App</p>
  </section>
  <div class='form-group row'>
    <label for="xclientData" class="">xAuthClient</label>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <input type="text" class="form-control text-input" id="xclientData" name="xclientData" />
    </div>
  </div>

  <div class='form-group row'>
    <label for="xAuthToken" class="col-form-label">xAuthToken</label>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <input type="password" class="form-control text-input" id="xAuthToken" name="xAuthToken" />
    </div>
  </div>

  <div class='form-group row'>
    <label for="storeHash" class="col-form-label">Store Hash</label>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <input type="text" class="form-control text-input" id="storeHash" name="storeHash" />
    </div>
  </div>

  <div class='form-group row'>
    <label for="merchant" class="col-form-label">Store Brand</label>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <input type="text" class="form-control text-input" id="merchant" name="merchant" />
    </div>
  </div>

  <div class='form-group row'>
    <div class="">
      <button type="submit" class="btn btn-primary" id="submit-btn">Connect Store</button>
    </div>
  </div>
</form>